<form id="search" class="yetenek-search">
              <div class="input-group input-group-lg">
                <input id="city" class="form-control" type="text" placeholder="Hizmet ara...">
                <span class="input-group-btn">
                        <button class="btn" type="submit">Ara</button>
                </span>
              </div>
</form>