<% content_for :head do %>
  <%= stylesheet_link_tag "index" %>
  <script type="text/javascript">
    $(function() {
      init();
      initSearch();
      initMap();
      $.get(points_path + ".json", function(data) {
        addPins(data);
      });
    });
  </script>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-4 blurb">
      <h2 class="brand page-title">Yetenek haritası</h2>
      <p> İş arayabilir  <%= link_to "arayabilir", map_path %>    yada  <%= link_to "ekleyebilirsiniz", add_path %> </p>
    </div>
    <div class="col-lg-8">
      <div id="map-canvas"></div>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1144239158920317";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <div style="margin-top: 10px;" class="fb-like pull-right" data-href="https://www.facebook.com/yesil-harita" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>


    </div>
  </div>
</div>