<% content_for :head do %>
  <%= stylesheet_link_tag "index" %>
  <script type="text/javascript">
    $(function() {
      init();
      initSearch();
    });
  </script>
<% end %>

<div class="container" style="text-align: center;">
  <div class="row">
    
      <h2 class="brand page-title">Komşu yapar</h2>
      <p class="lead">
        İhtiyacın olan hizmetleri yakın çevrenden ara, yapabileceklerini sen de ekle!
      </p>

      <div class="row">
        <div class="col-lg-10 pull-right">
      <%= form_tag backend_search_path, method: :get, :class=>"yetenek-search"  do %>
          <div class="col-xs-5">

           <input id="city" class="form-control input-lg" name="query" autocomplete="false"
                type="text" placeholder="Hizmet ara... örnek:Temizlik, Evcil hayvan bakımı" value="<% params[:query] %>">
          </div>
          <div class="col-xs-3">
            <select class="form-control input-lg" name="loc">
                <option>İstanbul</option>
                <option> Ankara</option>
                <option> İzmir</option>
                <option> Bursa</option>
                <option> Adana</option>
                <option> Antalya</option>
                <option> Diyarbakır</option>
                <option> Osmaniye</option>
                <option> Hatay</option>
                <option> Mersin </option>
                <option> Malatya</option>
             </select>
          </div>
          <div class="col-xs-2">
            <span class="input-group-btn">
                   <button class="btn btn-block btn-lg" type="submit">Ara</button>
             </span>
          </div>
        <%end%>
        </div>
      </div>
      <br/> 
       <p>
        <%= link_to "SEN DE YETENEKLERİNİ EKLE", 
          add_path,:class=>"btn btn-lg btn-yetenek-ekle" %> 
        </p>
  </div>
</div>

<script>
   (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1144239158920317";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
</script>