<script id="template" type="text/x-handlebars-template">
  <div id="infowindow">
    <div class="list-group">

        <a class="list-group-item active">
          <h5 class="list-group-item-heading">Yetenekler</h5>
        </a>
        {{#each user_skills}}
          <a class="list-group-item">
          <p class="list-group-item-text">
            {{name}}
          </p>
          </a>
        {{/each}}
      {{#if phone}}
        <a class="list-group-item">
          <p class="list-group-item-text">
            {{phone}}
          </p>
        </a>
      {{/if}}
    </div>
    <% if current_user %>
      <button id="report" type="button" class="btn btn-success btn-sm" data-point-id="{{id}}">
        Şikayet et
      </button>
   <% end %>
   
    <%= image_tag "avatar.png", :class => "img-avatar pull-right", :alt => "user avatar", :title => "Ekleyen ?" %>
  </div>
</script>